<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Samarth Express</title>

    <style>
      .upper-container .heading {
        text-align: center;
        color: Black;
        font-weight: 600;
      }
      .subheading {
        text-align: center;
        color: rgb(80, 80, 80);
      }

      .container-heading {
        text-align: center;
        color: rgb(30, 30, 161);
        font-weight: 400;
      }

      .button {
        display: block;
        width: 50%;
        margin: 20px auto;
        padding: 10px 15px;
        background-color: blue;
        color: white;
        font-size: 16px;
        font-weight: 500;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
        text-align: center;
      }

      .button:hover {
        background-color: darkblue;
        transform: scale(1.05);
      }

      p {
        font-size: 16px;
        font-weight: 200;
        color: rgb(32, 30, 30);
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="upper-container">
      <h1 class="heading"><%= name %></h1>
      <h1 class="heading"><%= email %></h1>
    </div>

    <div class="container">
      <h1 class="container-heading">Approve User</h1>
      <form
        action="http://localhost:5000/api/send-email/approve-admin"
        method="POST"
        body="<%= email %>"
      >
        <input type="email" name="email" value="<%= email %>" />
        <button type="submit">Approve</button>
      </form>
    </div>
  </body>
</html>
